
/* Style the container */
.container {
  background-color: #7ed7f0;
  padding: 3em;
  margin-top: 5em;
}
/* Style the submit button */
.submit__btn{
  background-color: #FFB049 !important;
  margin-top: 2em;
  width: 100%;
  font-weight: bold;
}
.label{
  font-weight: bold;
}

h1{
  text-align: center;
}

