.userInfo_container {
background-color: #7ed7f0;
padding-top: 3em;
}



#submit {
  background-color: #FFB049;
  margin-top: 2em;
  width: 100%;

}

.input-area {
  margin-top:2em;
  width: 100%;

  /* border: 3px solid black !important; */

}

#form-header {
  font-size: 15px;
  text-align: center !important;
  padding-left: 50%;
}


